{% extends 'core/base.html' %}

{% block content%}
   <h1 class="title">Project Title: {{ job.title }}</h1>

   <a href="{% url 'edit_job' job.id%}" class="button is-success mb-4">Edit project</a>

    <p class="is-size-4" > {{ job.short_description }}</p>

    <p> {{ job.long_description }}</p>

    <b>Company name: </b>{{ job.company_name}}<br>
    <b>Company address: </b>{{ job.company_address}}<br>
    <b>Company city: </b>{{ job.company_city}}<br>
    <b>Company country: </b>{{ job.company_country}}<br>
    <b>Asked amount: </b>{{ job.company_amount}}<br>
    <hr>
    

    <form action='.' method="POST">      
        {% csrf_token %}
        <h1>Do you want to delete the product {{job.title}}?</h1>

        <p><input class="button is-danger mb-4" type="submit" value="Delete"/></p>
    </form>

{%endblock%}